<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <form action="item.html" th:object="${item}"  th:action method="post"> <!--객체와 폼매핑시 사용하는게 th:object이다-->
        <div>
            <label for="itemName">상품명</label>
            <input type="text" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요">
            <!--
            *을 붙으면 위의 object의 하위맴버라는 의미이다 th:field 속성 사용시 렌더링 시기에 id와 name을 itemName으로 만들어 줌
            참고로 선택 표현식이다
            -->
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">

        <div>판매 여부</div> <!-- 체크박스를 체크 안하면 체크 박스의 값 조차도 안올라간다 -->
<!--        <div>
            <div class="form-check">
                <input type="checkbox" id="open" name="open" class="form-check-input">
                <input type="hidden" name="_open" value="on"/> &lt;!&ndash;히든 필드 추가(기존 필드 값이 없으면 이 값으로 바꿔치기 됨)&ndash;&gt;
                &lt;!&ndash;
                    히든 필드를 넘김으로써 open이라는 값이 넘어오면 open값을 취하고 open이 없으면
                    open은 없어도 _open은 있으니까 이 때 mvc는 false라고 인식 한다
                    이건 귀찮으니까 타임리프에선 간단하게 해결 가능
                &ndash;&gt;
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>-->
        <div>
            <div class="form-check">
                <input type="checkbox" th:field="*{open}" class="form-check-input">
                <!--
                    th:field는 id,name을 자동으로 만들어준다 + 체크박스 체크 안될 때 값을 false로 넘겨줌
                    정확히는 타임리프가 hidden 필드를 만들어줌
                -->
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>

        <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
                <label th:for="${#ids.prev('regions')}" th:text="${region.value}" class="form-check-label">서울</label>
                <!-- 동적 id 생성을 하기 위함이다 -->
            </div>
        </div>

        <div>
            <div>상품 종류</div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                    BOOK
                </label>
            </div>
        </div>

        <div>
            <div>배송 방식</div>
            <select th:field="*{deliveryCode}" class="form-select">
                <option value="">==배송 방식 선택==</option>
                <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
                        th:text="${deliveryCode.displayName}">FAST</option>
            </select>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|" type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>